/*-------------------------------------Geral-----------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: url('https://img.icons8.com/3d-fluency/50/finger-and-thumb.png') 16 16, auto;
  padding-top: 100px;
  background: linear-gradient(to right, #000000, #0a192f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 17px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background: linear-gradient(to right, #000000, #0a192f);
  padding: 19px 19px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #ffffff;
}

h1 {
  margin-left: 35px;
  color: #ffffff;
  font-size: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 60px;

}
h3 {
  color: #ffffff;
  font-size: 40px;

}

div a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-size: 30px;
}

div a:hover {
  text-decoration: underline;
}

a,
button,
.menu {
  cursor: url('https://img.icons8.com/3d-fluency/50/nui2--v5.png') 16 16, pointer;
}

.boxProjetos {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  width: 100%;
  margin-top: 50px;
}

.projeto {
  max-width: 800px;
}


.box {
  padding: 60px;
}

ul {
  color: #ffffff;
  font-size: 40px;
  padding: 20px;
  margin-left: 30px;
}

main {
  padding: 50px;
}

main li {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

/*-------------------------------------Botão do Menu-----------------------------------------------------------------*/
.menu {
  display: block;
  font-size: 70px;
  background: none;
  border: none;
  color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  margin-left: auto;
}

.menu.active {
  transform: rotate(90deg);
}

/*-------------------------------------Links do Menu-----------------------------------------------------------------*/

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  background: linear-gradient(to right, #000000, #0a192f);
  position: fixed;
  top: 0;
  right: 50px;
  width: 800px;
  height: 100%;
  padding-top: 60px;
  transition: right 0.4s ease-in-out;
  z-index: 15;
}

.links.active {
  display: flex;
  right: 0;
}

.links li {
  text-align: left;
  border-bottom: 1px solid #555;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 150px;
  transition: color 0.3s ease-in-out;
}

.links a:hover {
  color: #00bcd4;
}

/*-------------------------------------Parte das Frames-----------------------------------------------------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes subirAparecer {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes desvanecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*-------------------------------------Parte do Jogo-----------------------------------------------------------------*/

.container-jogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #1a2033;
  border: 4px solid #eee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#pontuacao {
  font-size: 2.5em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  text-shadow: 2px 2px #222;
}

#mensagem-inicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

#mensagem-inicio:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*-------------------------------------Aparecer Nome Começo-----------------------------------------------------------------*/
.nome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.letra.espaco {
  margin-right: 0.5em;
}

.letra {
  font-size: 190px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transition: opacity 0.5s ease-out;
}

.letra.aparecer {
  animation-name: subirAparecer;
}

.letra.desaparecer {
  animation-name: desvanecer;
}
